@import "_global";
@import "_fonts";
@import "_vars";
@import "_animation";


.reviews__wrapper,
.services__wrapper,
.header-sliders__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
//preloader start
.preloader {
  background-image: url(../images/header-bg.png);
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 50;
  transition: all 1s;
  opacity: 1;
  visibility: visible;
  &.done {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    transition: all 1s;
    #load-border {
      display: none;
    }
  }
  img {
    width: 80px; 
  }
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  #load-border {
    backface-visibility: hidden;
    height: 2px;
    background-color: #f88600;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 20px;
  }
}
//preloader end
// header start
.navigation {
  li {
    & + li {
      margin-left: 15px;
    }
  }
  a {
    padding: 0px 3px;
    transition: all 0.7s;
    border-bottom: 3px solid transparent;
    &:hover {
      text-shadow: 0 0 0.9px $text;
      transform: scale(1.1);
      border-bottom: 3px solid $orange;
    }
  }
}

.header {
  overflow: hidden;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -215px;
    left: -220px;
    height: 500px;
    width: 500px;
    border: 50px solid #d2d2d2;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -300px;
    right: -220px;
    height: 500px;
    width: 500px;
    border: 50px solid #d2d2d2;
    border-radius: 50%;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 96px;
    opacity: 0;
    animation: 0.5s fadeInDown forwards;
    animation-delay: 2.5s;
  }
  &__navigation {
    a {
      color: $text;
    }
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 330px;
    width: 100%;
  }
  &__socials {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: #fff;
      width: 32px;
      height: 32px;
      background-color: $text;
      border-radius: 10px;
      transition: all .3s ease-out;
      &:hover {
        color: $orange;
      }
    }
  }
  .header__number {
    outline: none;
    font-weight: 700;
    color: $text;
  }
  // &__number.btn {
    // 
    // max-width: 209px;
    // width: 100%;
    // 
    // padding: 18px 28px 18px;
    // border: 3px solid $orange;
    // border-radius: 28px;
    // transition: all .5s;
    // &:hover{
    //   background-color: #dd7700;
    //   text-decoration: underline;
    //   border: 3px solid transparent;
    //   color: #fff;
    // }
    // &:active{
    //   background-color: #dd7700;
    //   border: 3px solid $orange;
    //   text-decoration: none;
    //   color: #fff;
    // }
  &__pine-images {
    position: absolute;
    &--1 {
      top: 92px;
      left: 5%;
      animation: 2s slideInDown 3s forwards;
      transform: translate3d(0, -200%, 0);
    }
    &--2 {
      bottom: 172px;
      left: 100px;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      animation: 2s slideInBigDown 3s forwards;
      transform: translate3d(0, -800%, 0);
    }
    &--3 {
      top: 340px;
      right: -50px;
      animation: 2s slideInBigDown 3s forwards;
      transform: translate3d(0, -800%, 0);
    }
  }
}
.header__menu-btn{
  cursor: pointer;
  display: none;
  width: 30px;
}
.header__menu-row{
  width: 100%;
  height: 4px;
  background-color: $text; 
  margin-bottom: 4px;
  transition: all .5s;
}
.header__slider {
  margin-top: 50px;
  z-index: 1;
  .header__item {
    display: flex;
    overflow: hidden;
    outline: none;
    &-content {
      max-width: 500px;
      padding-top: 75px;
    }
    &-title {
      opacity: 0;
      font-weight: 900;
      font-size: 72px;
      margin-bottom: 50px;
    }
    &-subtitle {
      font-size: 36px;
      font-weight: 600;
    }
    &-animate{
      padding-top: 40px;
      opacity: 0;
    }
    &-result {
      font-size: 18px;
      margin-bottom: 80px;
    }
    &-btn {
      font-size: 18px;
      font-weight: 600;
      outline: none;
    }
    &-images{
      width: 100%;
      position: relative;
      min-height: 794px;
      img{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
      }
    }
    img.header__image-spray{
      top: 25%;
      width: 325px;
      height: 350px;
    }
    img.header__image-devices1{
      z-index: 2;
      top: 69%;
      left: 30%;
    }
    img.header__image-devices2{
      z-index: 1;
      top: 12%;
      left: 25%;
    }
    img.header__image-devices3{
      z-index: 2;
      top: 2%;
      left: 43%;
    }
    img.header__image-spray,
    img.header__image-starship,
    img.header__image-girl,
    img.header__image-devices1,
    img.header__image-devices2,
    img.header__image-devices3{
      position: absolute;
      opacity: 0;
    }

  }
}
// .header-item__btn-mobile{
//   display: none;
// }
.header-slider__navigation{
  position: absolute;
  width: 100%;
  bottom: 95px;
  z-index: 1;
  .slick-list {
    overflow: visible;
  }
/*   max-width: 460px; */
}
.header-slider__navigation-item{
  color: #878686;
  margin-right: 40px;
  cursor: pointer;
  outline: none;
  opacity: 0;
  &--1 {
    animation: 2s slideInLeft 3s forwards;
  }
  &--2 {
    animation: 2s slideInLeft 3.5s forwards;
  }
  &--3 {
    animation: 2s slideInLeft 4s forwards;
  }
  &.slick-current{
    color: $text;
    .first-word{
      padding-bottom: 6px;
      &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 67px;
        height: 4px;
        background-color: $orange;
        animation: 1s slideInLeftNav;
      }
    }
    .second-word {
      padding-top: 6px;
    }
  }
  .backnumber {
    position: absolute;
    top: -20px;
    color: #d8d8d8;
    font-size: 72px;
    font-weight: 900;
  }
  .first-word{
    padding-top: 26px;
    position: relative;
  }
  .second-word {
    padding-top: 4px;
  }
  .first-word,
  .second-word{
    font-weight: 900;
    padding-left: 26px;  
  }
}
.header__slider-animation{
  .header__item{
    &.slick-active{
      .header__item-title{
        animation: 1.5s fadeInLeft forwards;
        animation-delay: 1s;
      }
      .header__item-animate{
        animation: 1s slideInUp forwards;
        animation-delay: 3.5s;
      }
      .header-item__btn-mobile{
        animation: 1s slideInUp forwards;
        animation-delay: 1.5s;
      }
      img.header__image-spray{
        animation: 1s spray forwards;
        animation-delay: 1s;
      }
      img.header__image-girl{
        animation: 1s rotateInUpLeft forwards;
        animation-delay: 0.5s;
      }
      img.header__image-starship{
        animation: 1s starship forwards;
        animation-delay: 0.5s;
      }
      img.header__image-devices1{
        animation: 1s device1 forwards;
        animation-delay: 0.5s;
      }
      img.header__image-devices2{
        animation: 1s device2 forwards;
        animation-delay: 0.5s;
      }
      img.header__image-devices3{
        animation: 1s device3 forwards;
        animation-delay: 0.5s;
      }
    }
  }
}
// header end
// about start
.about {
  position: relative;
  background-image: url(../images/about-green.png);
  background-repeat: no-repeat;
  background-size: 278px 375px;
  background-position:  right top;
  min-height: 1011px;
  padding-top: 80px;
  &__content {
    padding-bottom: 60px;
  }
  &__title {
    margin-bottom: 45px;
  }
  &__text {
    font-size: 18px;
    color: #707070;
  }
  &__inner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    max-width: 465px;
    width: 100%;
    margin-bottom: 40px;
    outline: none;
    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 136px;
      height: 136px;
      border: 5px solid #ebebeb;
      border-radius: 25px;
      background-color: #fff;
      margin-right: 30px;
    }
    &-content {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    &-title {
      font-size: 20px;
      font-weight: 900;
      max-width: 250px;
    }
    &-text {
      color: #4a4a4a;
    }
  }
}
.about__btn {
  padding: 0px 10px 0px 48px;
  font-size: 20px;
  font-weight: 900;
  color: $text;
  border: 5px solid #ebebeb;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 465px;
  width: 100%;
  transition: all .5s;
  &:hover {
    background-color: #dfdfdf;
    border: 5px solid #dfdfdf;
    text-decoration: underline;
    color: $orange;
  }
  &:active{
    border: 5px solid #fff;
    text-decoration: none;
    color: $orange;
  }
  img{
    margin-right: 10px;
  }
}
.about__content-mobile{
  color: #131313;
  display: none;
  .content-mobile__text{
    font-size: 14px;
    text-align: center;
    & + .content-mobile__text{
      margin-top: 20px;
    }
  }
}
// about end
// services start
.services{
    background-image: url(../images/sevices-pine.png);
    background-repeat: no-repeat;
    background-size: 198px 205px;
    background-position:  center left;
		padding-top: 5px;
    padding-bottom: 155px;
		&__subtitle {
			margin-bottom: 40px;
		}
}
.services-slider {
  .services-slider__item {
    outline: none;
  	&-inner {
  		display: flex;
  		justify-content: space-between;
  	}
  	&-content {
      max-width: 425px;
  		padding: 45px 55px 35px 60px;
  		text-align: center;
  	}	
  	.services-slider__item-title {
  		font-size: 24px;
  		font-weight: 900;
  		margin-bottom: 25px;
  		text-align: left;
  	}
  	.services-slider__item-text {
  		color: #222;
  		padding-bottom: 33px;
      margin-bottom: 55px;
      height: 123px;
      overflow: hidden;
  		position: relative;
  		text-align: left;
  		&::before {
  			content: '';
  			position: absolute;
  			bottom: 0;
  			left: 0;
  			width: 193px;
  			height: 2px;
  			background-color: $orange;
  		}
  	}
  	&-subtext {
  		text-transform: uppercase;
  		font-size: 18px;
  		font-weight: 900;
  		margin-bottom: 20px;
  		div {
  			font-weight: 400;
  			margin-top: 5px;	
  		}
    }
    &-btn {
      outline: none;
    }	
  }
  .slick-btn {
    height: 44px;
    width: 44px;
    border: 1px solid #f26522;
    position: absolute;
    bottom: 212px;
    border-radius: 10px;
    outline: none;
    z-index: 1;
    transition: all .3s ease-out;
    &::before {
      font-family: 'icomoon';
      color: #f26522;
      position: absolute;
      top: 50%;
      transform: translate(-45%, -53%);
      font-size: 40px;
      transition: all .3s ease-out;
    }
    &:hover {
      background-color: #f26522;
    }
    &:hover::before {
      color: #fff;
    }
  }
  .slick-prev {
      left: 300px;
    &::before {
      content: '\f104';
      left: 45%;
    }
  }
  .slick-next {
    left: 350px;
    &::before {
      content: '\f105';
      left: 50%;
    }
  }
}
.slider-works {
	max-width: 650px;
	width: 100%;
	&__item {
    outline: none;
    &-images {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 451px;
    border-radius: 20px;
    }
    &-title {
      position: absolute;
      bottom: 45px;
      left: 40px;
      font-size: 24px;
      font-weight: 900;
      color: #fff;
      z-index: 1;
    }
	}
	.slick-dots {
		position: absolute;
		left: 36px;
		bottom: 33px;
		button {
			width: 45px;
			height: 2px;
			background-color: #444d83;
			font-size: 0;
      transition: all .5s;
      outline: none;
		}
		li + li {
			margin-left: 6px;
		}
		li.slick-active {
			button {
				background-color: $orange;
			}
		}
	}
}			
		
// services end
// team start
.team {
  padding-top: 110px;
  padding-bottom: 125px;
  background-color: #f9f9f9;
  background-image: url(../images/pineapple-up.png);
  background-repeat: no-repeat;
  background-size: 198px 205px;
  background-position:  top right 5%;
  text-align: center;
  &__subtitle {
    margin-bottom: 70px;
  }
  .team__btn {
    font-weight: 700;
    outline: none;
  }
}
.team__slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
  &-item {
    display: flex;
    flex-direction: column;
    width: 262px;
    margin-right: 30px;
    border: 5px solid #b1b1b1;
    border-radius: 19px;
    transition: all 0.5s;
    outline: none;
    text-align: left;
    &:hover {
      border-color: $orange;
      .team__slider-contacts {
        height: 20px;
        overflow: visible;
      }
      .team__slider-img {
        height: 252px;
      }
      .team__slider-name:after {
        opacity: 1;
      }
    }
  }
  &-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: all 0.3s;
    height: 272px;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
  }
  &-info {
    background-color: #fff;
    padding: 12px 20px 25px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
  }
  &-contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
    li + li {
      margin-left: 10px;
    }
    a {
      color: #878686;
      font-size: 18px;
      transition: all 0.3s ease-out;
      outline: none;
      &:hover {
        color: #707070;
      }
    }
  }
  &-btn {
    color: $orange;
    outline: none;
  }
  &-name {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    padding-bottom: 7px;
    &::after {
      content: "";
      width: 60px;
      height: 1px;
      background-color: #b1b1b1;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.5s;
    }
  }
  &-status {
    padding-top: 8px;
    text-align: center;
    color: #b1b1b1;
  }
}

// team end
// reviews start
.reviews {
  padding: 125px 0 55px;
  background-image: url(../images/reviews-green.png);
  background-repeat: no-repeat;
  background-position: top 70% left;
  background-size: 221px 331px;
  &__title {
		margin-bottom: 55px;
	}
  &__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    
	}
	&__box {
    max-width: 653px;
    margin-right: 10px;
	}
	&__form {
    max-width: 457px;
    width: 100%;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 30px;
   	margin-top: -12px;
	}
}
.slider-images {
  margin-bottom: 45px;
  &__item {
    outline: none;
    
  }
	img {
		width: 68px;
		height: 68px;
		border-radius: 15px;
		margin: 0 auto;
		filter: url(filter.svg#grayscale); /* Firefox 3.5+ */
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(0.8);
    transition: all .5s ease-out; 
    cursor: pointer;
	}
	.slick-list {
		height: 106px;
		padding: 10px 49px 0px !important;
	}
	.slick-current {
		img {
			filter: none;
			-webkit-filter: grayscale(0);
			width: 96px;
			height: 96px;
			margin: -10px auto 0px; 
		}
	}
}
  .slider-content {
    .slider-content__item {
      outline: none;
  	&-text {
  		color: #232334;
  		padding-bottom: 60px;
  	}
  	p {
  		text-align: left;
  		margin-bottom: 35px;
  	}	
  	a {
  		color: #232334;
  		margin-top: 5px;
  		border-bottom: 1px solid transparent;
      transition: all .3s;
      &:hover {
        border-bottom: 1px solid lighten(#232334, 40%) ;
      }
    }
  }
	.slick-btn {
		height: 54px;
		width: 54px;
		border: 1px solid #f26522;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0 auto;
		transform: translateY(100%); 
		border-radius: 10px;
		transition: all .5s;
    z-index: 2;
    outline: none;
		&::before {
			font-family: 'icomoon';
			color: #f26522;
			position: absolute;
			top: 50%;
			transform: translate(-45%, -53%);
			font-size: 40px;
		}
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			width: 233px;
			height: 1px;
			background-color: #f26522;
    }
    &:hover {
      background-color: #f26522;
    }
    &:hover::before {
      color: #fff;
    }
	}
	.slick-prev {
			right: 70px;
		&::before {
			content: '\f104';
			left: 45%;
		}
		&::after {
			right: 85px;
		}
	}
	.slick-next {
		left: 70px;
		&::before {
			content: '\f105';
			left: 50%;
		}
		&::after {
			left: 85px;
		}
	}
}	
.reviews__form {
	background-color: $orange;
	border-radius: 10px;
	padding: 55px 50px 35px;
	color: #fff;
	&-title {
		font-weight: 900;
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 45px;
	}
	&-suptitle {
		font-size: 24px;
		font-weight: 400;
	}
	input {
    max-width: 100%;
    outline: none;
	}
	&-phone {
		margin: 21px 0px 30px;
	}
	&-range {
		padding:  0 20px;
		text-align: left;
		margin-bottom: 25px;
		.irs--flat  {
			margin-top: 10px;
			&:active {
				.irs-line {
					background-color: darken(#d76f00, 10%);
				}
				.irs-grid-pol {
					height: 8px;
					background-color: darken(#d76f00, 10%);
					top: -23px;
				}
			}
			.irs-min, .irs-max {
				display: none;
			}
			.irs-line {
				height: 4px;
				top: 25px;
				background-color: #d76f00;
				border-radius: 0px;
				transition: all .3s;
			}
			.irs-bar {
				display: none;
			}
			.irs-single {
				color: #fff;
				font-weight: 700;
				font-size: 16px;
				line-height: 24px;
				text-shadow: none;
				padding: 0;
				background-color: transparent;
				border-radius: 0px;
				top: -30px;
				left: 80% !important;
				&::before {
					display: none;
				}
			}
			.irs-handle {
				height: 24px;
				width: 24px;
				border-radius: 50%;
				background-color: #fff;
				top: 14px;
				cursor: pointer;
			}
			.irs-handle>i:first-child {
				display: none;
			}
			.irs-grid-text {
				display: none;
			}
			.irs-grid-pol.small {
				display: none;
			}
			.irs-grid-pol {
				position: absolute;
				top: -21px;
				left: 0;
				width: 2px;
				height: 6px;
				background: #d76f00;
			}
		}
	}
	.jq-checkbox {
    vertical-align: 7px;
    width: 18px;
    height: 18px;
    margin-right: 23px;
    border: 1px solid #f15525;
    cursor: pointer;
    background-color: #fff;
    display: inline-block;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 4px;
    margin: 5px 0 0 4px;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    transform: rotate(-50deg);
	}
	label {
		display: inline-block;
		font-size: 12px;
		span {
			display: inline-block;
			width: 222px;
		} 	
	}
	&-buttons {
		display: flex;
		align-items: center;
	}
	&-btn {
    padding: 17px 24px;
    outline: none;

	}
	&-settings {
		display: flex;
		justify-content: center;
		width: 58px;
		height: 58px;
		background-color: #fff;
		border-radius: 50%;
		margin-left: auto;
    transition: all .5s;
    outline: none;
		img {
			transition: all .5s;
    }
    &:hover {
    	background-color: darken(#fff, 10%);
    	img {
    		transform: rotate(90deg);
    	}
    }
	}
} 
// reviews end
// question start
.question{
		background-image: url(../images/question-bg.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		min-height: 665px;
		padding-top: 150px;
		position: relative;
		&__subtitle{
				margin-bottom: 50px;
		}
		&__content{
				max-width: 750px;
		}
		&__girl{
				position: absolute;
				bottom: 0;
				right: 5%;
		}
}
ul.question__list {
  display: flex;
  flex-direction: column;
  transition: all 5s ease-out;
  li {
    font-size: 18px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px 45px 20px 35px;
    background-color: #fff;
    height: 60px;
    transition: all 0.8s;
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      right: 24px;
      border: 9px solid transparent; 
      border-top: 13px solid #b8b8b8; 
    }
    & + li {
      margin-top: 7px;
    }
  }
  .question__list-text {
    display: none;
    margin-top: 40px;
    font-size: 14px;
    color: #1a1a1a;
    opacity: 0;
  }
  li.active {
    height: 162px;
	  overflow: scroll;
	&::before {
		right: 17px;
		border: 9px solid transparent;
    border-left: 13px solid $orange; 
	  }
    .question__list-text {
      display: block;
      transition: all 2s;
      opacity: 1;
    }
  }
}
// question end
// footer start
.footer {
	color: #fffefe;
	position: relative;
	& * {
		transition: all .3s;
	}
	&::before {
		content: '';
		position: absolute;
		top: -60px;
		right: 200px;
		transform: rotate(45deg);
		background-image: url(../images/pineapple-center.png);
		background-repeat: no-repeat;
		width: 147px;
		height: 153px;
	}	
  &__top {
    background-color: $text;
    padding: 40px 0 30px;
    &-inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    max-width: 265px;
    width: 100%;
    z-index: 1;
  }
  &__navigation {
    margin-bottom: 45px;
    li {
      & + li {
        margin-left: 25px;
      }
    }
    a {
      font-size: 18px;
      font-weight: 700;
      color: #fefefe;
      &:hover {
        text-shadow: 0 0 0.9px $text;
        transform: scale(1.1);
        border-bottom: 3px solid $orange;
      }
    }
  }
  .footer__news-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}
.footer__info {
  &-logo {
    img {
      width: 80px;
    }
  }
  .footer__info-text {
    font-size: 12px;
    padding: 28px 0px;
  }
  .footer__contacts {
    &-link {
      color: #fefefe;
      line-height: 24px;
			padding-left: 40px;
			position: relative;
      &::before {
        padding-top: 3px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background-color: $orange;
        align-items: center;
      }
      &:hover {
        span {
          border-bottom: 1px solid #fff;
        }
      } 
      & + .footer__contacts-link {
        margin-top: 6px;
      }
      span {
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
      }
    }
    &-phone::before {
      content: url(../images/icon/phone.svg);
    }
    &-email::before {
      content: url(../images/icon/envelope.svg);
    }
     
  }
}
.footer-slider {
  display: flex;
  justify-content: space-between;
  max-width: 555px;
  .slick-btn {
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background-color: #fff;
    top: -41px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    &::before {
      font-family: "icomoon";
      position: absolute;
      color: $text;
    }
  }
  .slick-btn.slick-disabled {
    opacity: 0.5;
    cursor: default;
  }
  .slick-prev {
    right: 30px;
    &::before {
      content: "\f104";
    }
  }
  .slick-next {
    right: 0;
    &::before {
      content: "\f105";
    }
  }
}
.footer-slider__item {
  padding-right: 10px;
  outline: none;
  .footer-slider__content {
    display: flex;
    &-left {
      margin-right: 20px;
      max-width: 70px;
    }
    &-right {
      max-width: 170px;
      width: 100%;
    }
    &-image {
      border-radius: 10px;
    }
    &-data {
      text-align: center;
      font-weight: 700;
      line-height: 30px;
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 145px;
    }
    &-text {
      font-size: 12px;
      height: 40.4px;
      overflow: hidden;	
    }
    &-link {
      margin-top: 12px;
      font-size: 12px;
      color: $orange;
      line-height: 13px;
      border-bottom: 1px solid transparent;
      outline: none;
      &:hover {
        border-bottom: 1px solid $orange;
      }
    }
  }
}
.footer__subscribe {
  .footer__subscribe-title {
    max-width: 180px;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  &-subtitle {
    max-width: 230px;
    width: 100%;
    margin-bottom: 25px;
  }
  &-form {
		display: flex;
    input {
      border: 1px solid #c76d02;
      padding: 0px 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      outline: none;
      width: 100%;
      height: 50px;

      
    }
    &-btn {
			display: flex;
      justify-content: center;
      align-items: center;
      border-left: 5px solid $text;
      background-color: $orange;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      min-width: 61px;
      outline: none;
      &:hover {
        background-color: darken($orange, 10%);
      }
    }
  }
  &-socials {
    margin-top: 30px;
    a {
      background-color: #fff;
      height: 32px;
      width: 32px;
      border-radius: 10px;
      font-size: 20px;
      position: relative;
      color: $text;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & + a {
        margin-left: 7px;
      }
      &:hover {
        background-color: $orange;
        color: #fff;
      }
    }
  }
  .footer__privacy {
    margin-top: 11px;
    font-size: 12px;
    color: #905a59;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer__copy {
  text-align: center;
  background-color: #3a0c0b;
  padding: 25px 0px;
}
// footer end

//audit start
.audit {
  position: fixed;
  bottom: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  z-index: 55;
  background-color: $orange;
  padding: 35px 30px 35px 50px;
  border-radius: 15px;
  &__inner {
    display: flex;
    align-items: center;
  }
  input {
    outline: none;
  }
  .phone {
    margin-left: 31px;
    max-width: 325px;
    width: 100%;
  }
  .btn {
    margin-left: 100px;
    outline: none;
  }
  .close {
    margin-left: 62px;
  }
}
//audit end

//validate start
.validate {
  max-width: 360px;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px 0 95px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  z-index: 58;
  user-select: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto; 
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 29px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
  }
  &--succses {
    background-color: #209b2c;
    &::before {
      background-image: url(../images/icon/validate--succses.svg);
    }
  }
  &--error {
    background-color: #e93b50;
    &::before {
      background-image: url(../images/icon/validate--error.svg);
    }
  }
}
#validate {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 57;
    background-color: rgba(#000, .5);
    display: none;
}
//validate end

//fullForm start
.full-form,
.set-form {
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 50px 50px 50px 70px;
  &__headline {
    margin-bottom: 45px;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 4%;
    border-color: #acacac;
    span {
      background-color: #acacac;
    }
  }
  &__inner {
    display: flex;
  }
  &__input {
    max-width: 325px;
    width: 100%;
    margin-right: 80px;
    input {
     outline: none;
    }
  }
  .phone {
    margin: 21px 0;
  }
  select {
    height: 0;
  }
  .jq-selectbox {
    margin: 21px 0 39px;
    width: 100%;
    cursor: pointer;
    &.opened {
      .jq-selectbox__trigger-arrow {
        border-top: 11px solid $orange;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
      }
      li:first-child {
        display: none;
      }
    }
    &.changed {
      .jq-selectbox__select {
        color: $text;
      }
    }
    .jq-selectbox__select {
      height: 62px;
      padding: 21px 22px;
      border: 1px solid #ca7510;
      border-radius: 10px;
      color: $placeholder;
    }
    .jq-selectbox__trigger {
      position: absolute;
      top: 0;
      right: 0;
      width: 53px;
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 35px;
        width: 1px;
        background-color: $placeholder;
      }
    }
    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 11px solid $placeholder;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
    .jq-selectbox__dropdown {
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      height: auto;
      top: 63px !important;
      ul {
        display: block;
        border: 1px solid #ccc;
        background-color: #fff;
      }
      li {
        display: block;
        padding: 10px;
      }
      li:hover {
        background-color: $orange;
      }
      li.selected {
        background-color: #dd7700;
        color: #fff;
      }
    }
  }
  .jq-checkbox {
    vertical-align: -4px;
    width: 18px;
    height: 18px;
    margin-right: 25px;
    border: 1px solid #f15525;
    cursor: pointer;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 4px;
    margin: 5px 0 0 4px;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    transform: rotate(-50deg);
  }
  .btn {
    outline: none;
  }
  &__check {
    .form-title {
      font-weight: 700;
      font-size: 16px;
    }
  }
  &__items {
    margin-top: 30px;
    column-count: 2;
  }
  &__item {
    margin-bottom: 50px;
    &:last-child {
      margin-left: 60px;
      label:last-child {
        margin-top: 45px;
      }
    }
    label {
      display: block;
      margin-top: 15px;
    }
  }
}
//fullForm end
.set-form {
  label {
    display: block;
    & + label {
      margin-top: 20px;
    }
  }
}
//new start
.wrapper .new-content {
  padding: 60px 0px;
  &__title {
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
    width: 100%;
  }
  &__inner {
    margin-top: 50px;
    display: flex;
  }
  &__text {
    max-width: 760px;
    width: 100%;
    margin-right: 30px;
    color: #707070;
    p {
      font-size: 18px;
      margin-bottom: 23px;
    }
  }
  &__list {
    strong {
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      margin-bottom: 25px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      display: block;
      padding-left: 15px;
      position: relative;
      &::before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    b {
      font-weight: 900;
    }
  }
  .aside {
    max-width: 360px;
    width: 100%;
    &__item {
      margin-bottom: 25px;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
      &--small {
        img {
          height: 220px;
        }
      }
      &--big {
        img {
          height: 425px;
        }
      }
      &--medium {
        img {
          height: 280px;
        }
      }
    }
  }
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(#000, .5);
  display: none;
}

//new end
@import "_media";
