.header {
  position: relative;
  padding-top: 30px;
  background-image: url('../images/content/header-bg.png');
  background-image: image-set(url('../images/content/header-bg.png') 1x, url('../images/content/header-bg.png') 2x, url('../images/content/header-bg.png') 3x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 50px solid $alto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    opacity: 0;
  } 
  &::before {
    top: -215px;
    left: -220px;
  }
  &::after {
    bottom: -300px;
    right: -220px;
  }
  &__top {
    min-height: 96px;
    opacity: 0;
    .header__logo {
      transform: translateY(-10px);
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
  }
  &__phone {
    font-weight: 700;
    color: $main-color;
  }

  &__hero {
    padding-top: 50px;
  }
  &__lobe {
    position: absolute;
   
    &--up {
      top: 92px;
      left: 5%;
      transform: translate3d(0, -200%, 0);
    }
    &--center {
      bottom: 172px;
      left: 100px;
      right: 0;
      margin: 0 auto;
      z-index: 50;
      width: 100px;
      transform: translate3d(0, -1200%, 0);
    }
    &--right {
      top: 340px;
      right: -50px;
      transform: translate3d(0, -800%, 0);
    }
  }
}



