// .reviews__wrapper,
// .services__wrapper,
// .header-sliders__wrapper {
//     max-width: 1200px;
//     margin: 0 auto;
//     padding: 0 15px;
// }
// //preloader start
// .preloader {
//   background-image: url(../images/header-bg.png);
//   background-repeat: repeat;
//   background-size: cover;
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   z-index: 50;
//   transition: all 1s;
//   opacity: 1;
//   visibility: visible;
//   &.done {
//     position: absolute;
//     left: 0;
//     right: 0;
//     height: 100px;
//     width: 100px;
//     margin: 0 auto;
//     transition: all 1s;
//     #load-border {
//       display: none;
//     }
//   }
//   // img {
//   //   width: 80px; 
//   // }
// }
// .loader {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   #load-border {
//     backface-visibility: hidden;
//     height: 2px;
//     background-color: #f88600;
//     bottom: 0px;
//     content: " ";
//     display: block;
//     margin: 0 auto;
//     position: relative;
//     transition: all 280ms ease-in-out;
//     width: 20px;
//   }
// }
//preloader end
// header start

.header {
  padding-top: 30px;
  overflow: hidden;
  background-image: url('../images/content/header-bg.png');
  background-image: image-set(url('../images/content/header-bg.png') 1x, url('../images/content/header-bg.png') 2x, url('../images/content/header-bg.png') 3x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 50px solid $alto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
  } 
  &::before {
    top: -215px;
    left: -220px;
  }
  &::after {
    bottom: -300px;
    right: -220px;
  }
  &__top {
    min-height: 96px;
    animation: $fast fadeInDown 2.5s forwards;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
  }
  &__phone {
    font-weight: 700;
    color: $main-color;
  }

  &__hero {
    padding-top: 50px;
  }
  &__lobe {
    position: absolute;
    animation: 2s slideIn 3s forwards;
    &--up {
      top: 92px;
      left: 5%;
      transform: translate3d(0, -200%, 0);
    }
    &--center {
      bottom: 172px;
      left: 100px;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      width: 100px;
      transform: translate3d(0, -1200%, 0);
    }
    &--right {
      top: 340px;
      right: -50px;
      transform: translate3d(0, -800%, 0);
    }
  }
}
// .header__menu-btn{
//   cursor: pointer;
//   display: none;
//   width: 30px;
// }
// .header__menu-row{
//   width: 100%;
//   height: 4px;
//   background-color: $main-color; 
//   margin-bottom: 4px;
//   transition: all .5s;
// }

  
// .header-item__btn-mobile{
//   display: none;
// }
// .header__slider-animation{
//   .header__item{
//     &.slick-active{
//       .header-item__btn-mobile{
//         animation: 1s slideInUp forwards;
//         animation-delay: 1.5s;
//       }
//     }
//   }
// }
// header end
// about start

// about end
// services start
	
// services end
// team start

// reviews start

// reviews end

// footer start
.footer {
	color: #fffefe;
	position: relative;
	& * {
		transition: all .3s;
	}
	&::before {
		content: '';
		position: absolute;
		top: -60px;
		right: 200px;
		transform: rotate(45deg);
		background-image: url(../images/pineapple-center.png);
		background-repeat: no-repeat;
		width: 147px;
		height: 153px;
	}	
  &__top {
    background-color: $main-color;
    padding: 40px 0 30px;
    &-inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item {
    max-width: 265px;
    width: 100%;
    z-index: 1;
  }
  &__navigation {
    margin-bottom: 45px;
    li {
      & + li {
        margin-left: 25px;
      }
    }
    a {
      font-size: 18px;
      font-weight: 700;
      color: #fefefe;
      &:hover {
        text-shadow: 0 0 0.9px $main-color;
        transform: scale(1.1);
        border-bottom: 3px solid $orange;
      }
    }
  }
  .footer__news-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}
.footer__info {
  &-logo {
    img {
      width: 80px;
    }
  }
  .footer__info-text {
    font-size: 12px;
    padding: 28px 0px;
  }
  .footer__contacts {
    &-link {
      color: #fefefe;
      line-height: 24px;
			padding-left: 40px;
			position: relative;
      &::before {
        padding-top: 3px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background-color: $orange;
        align-items: center;
      }
      &:hover {
        span {
          border-bottom: 1px solid #fff;
        }
      } 
      & + .footer__contacts-link {
        margin-top: 6px;
      }
      span {
        padding-bottom: 2px;
        border-bottom: 1px solid transparent;
      }
    }
    &-phone::before {
      content: url(../images/icon/phone.svg);
    }
    &-email::before {
      content: url(../images/icon/envelope.svg);
    }
     
  }
}
.footer-slider {
  display: flex;
  justify-content: space-between;
  max-width: 555px;
  .slick-btn {
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background-color: #fff;
    top: -41px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    &::before {
      font-family: "icomoon";
      position: absolute;
      color: $main-color;
    }
  }
  .slick-btn.slick-disabled {
    opacity: 0.5;
    cursor: default;
  }
  .slick-prev {
    right: 30px;
    &::before {
      content: "\f104";
    }
  }
  .slick-next {
    right: 0;
    &::before {
      content: "\f105";
    }
  }
}
.footer-slider__item {
  padding-right: 10px;
  outline: none;
  .footer-slider__content {
    display: flex;
    &-left {
      margin-right: 20px;
      max-width: 70px;
    }
    &-right {
      max-width: 170px;
      width: 100%;
    }
    &-image {
      min-height: 69px;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    &-data {
      text-align: center;
      font-weight: 700;
      line-height: 30px;
    }
    &-title {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 10px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 145px;
    }
    &-text {
      font-size: 12px;
      height: 40.4px;
      overflow: hidden;	
    }
    &-link {
      margin-top: 12px;
      font-size: 12px;
      color: $orange;
      line-height: 13px;
      border-bottom: 1px solid transparent;
      outline: none;
      &:hover {
        border-bottom: 1px solid $orange;
      }
    }
  }
}
.footer__subscribe {
  .footer__subscribe-title {
    max-width: 180px;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
  }
  &-subtitle {
    max-width: 230px;
    width: 100%;
    margin-bottom: 25px;
  }
  &-form {
		display: flex;
    input {
      border: 1px solid #c76d02;
      padding: 0px 10px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      outline: none;
      width: 100%;
      height: 50px;

      
    }
    &-btn {
			display: flex;
      justify-content: center;
      align-items: center;
      border-left: 5px solid $main-color;
      background-color: $orange;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      min-width: 61px;
      outline: none;
      &:hover {
        background-color: darken($orange, 10%);
      }
    }
  }
  &-socials {
    margin-top: 30px;
    a {
      background-color: #fff;
      height: 32px;
      width: 32px;
      border-radius: 10px;
      font-size: 20px;
      position: relative;
      color: $main-color;
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & + a {
        margin-left: 7px;
      }
      &:hover {
        background-color: $orange;
        color: #fff;
      }
    }
  }
  .footer__privacy {
    margin-top: 11px;
    font-size: 12px;
    color: #905a59;
    &:hover {
      text-decoration: underline;
    }
  }
}
.footer__copy {
  text-align: center;
  background-color: #3a0c0b;
  padding: 25px 0px;
}
// footer end

//audit start
.audit {
  position: fixed;
  bottom: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  z-index: 55;
  background-color: $orange;
  padding: 35px 30px 35px 50px;
  border-radius: 15px;
  &__inner {
    display: flex;
    align-items: center;
  }
  input {
    outline: none;
  }
  .phone {
    margin-left: 31px;
    max-width: 325px;
    width: 100%;
  }
  .btn {
    margin-left: 100px;
    outline: none;
  }
  .close {
    margin-left: 62px;
  }
}
//audit end

//validate start
.validate {
  max-width: 360px;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px 0 95px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  z-index: 58;
  user-select: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto; 
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 29px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
  }
  &--succses {
    background-color: #209b2c;
    &::before {
      background-image: url(../images/icon/validate--succses.svg);
    }
  }
  &--error {
    background-color: #e93b50;
    &::before {
      background-image: url(../images/icon/validate--error.svg);
    }
  }
}
#validate {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 57;
    background-color: rgba(#000, .5);
    display: none;
}
//validate end

//fullForm start
.full-form,
.set-form {
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 50px 50px 50px 70px;
  &__headline {
    margin-bottom: 45px;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 4%;
    border-color: #acacac;
    span {
      background-color: #acacac;
    }
  }
  &__inner {
    display: flex;
  }
  &__input {
    max-width: 325px;
    width: 100%;
    margin-right: 80px;
    input {
     outline: none;
    }
  }
  .phone {
    margin: 21px 0;
  }
  select {
    height: 0;
  }
  .jq-selectbox {
    margin: 21px 0 39px;
    width: 100%;
    cursor: pointer;
    &.opened {
      .jq-selectbox__trigger-arrow {
        border-top: 11px solid $orange;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
      }
      li:first-child {
        display: none;
      }
    }
    &.changed {
      .jq-selectbox__select {
        color: $main-color;
      }
    }
    .jq-selectbox__select {
      height: 62px;
      padding: 21px 22px;
      border: 1px solid #ca7510;
      border-radius: 10px;
      color: $placeholder;
    }
    .jq-selectbox__trigger {
      position: absolute;
      top: 0;
      right: 0;
      width: 53px;
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 35px;
        width: 1px;
        background-color: $placeholder;
      }
    }
    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 11px solid $placeholder;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
    .jq-selectbox__dropdown {
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      height: auto;
      top: 63px !important;
      ul {
        display: block;
        border: 1px solid #ccc;
        background-color: #fff;
      }
      li {
        display: block;
        padding: 10px;
      }
      li:hover {
        background-color: $orange;
      }
      li.selected {
        background-color: #dd7700;
        color: #fff;
      }
    }
  }
  .jq-checkbox {
    vertical-align: -4px;
    width: 18px;
    height: 18px;
    margin-right: 25px;
    border: 1px solid #f15525;
    cursor: pointer;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 4px;
    margin: 5px 0 0 4px;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    transform: rotate(-50deg);
  }
  .btn {
    outline: none;
  }
  &__check {
    .form-title {
      font-weight: 700;
      font-size: 16px;
    }
  }
  &__items {
    margin-top: 30px;
    column-count: 2;
  }
  &__item {
    margin-bottom: 50px;
    &:last-child {
      margin-left: 60px;
      label:last-child {
        margin-top: 45px;
      }
    }
    label {
      display: block;
      margin-top: 15px;
    }
  }
}
//fullForm end
.set-form {
  label {
    display: block;
    & + label {
      margin-top: 20px;
    }
  }
}
//new start
.wrapper .new-content {
  padding: 60px 0px;
  &__title {
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
    width: 100%;
  }
  &__inner {
    margin-top: 50px;
    display: flex;
  }
  &__text {
    max-width: 760px;
    width: 100%;
    margin-right: 30px;
    color: #707070;
    p {
      font-size: 18px;
      margin-bottom: 23px;
    }
  }
  &__list {
    strong {
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      margin-bottom: 25px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      display: block;
      padding-left: 15px;
      position: relative;
      &::before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    b {
      font-weight: 900;
    }
  }
  .aside {
    max-width: 360px;
    width: 100%;
    &__item {
      margin-bottom: 25px;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
      &--small {
        img {
          height: 220px;
        }
      }
      &--big {
        img {
          height: 425px;
        }
      }
      &--medium {
        img {
          height: 280px;
        }
      }
    }
  }
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(#000, .5);
  display: none;
}

