.header {
  position: relative;
  padding-top: 30px;
  background-image: url('../images/content/header-bg.png');
  background-image: image-set(url('../images/content/header-bg.png') 1x, url('../images/content/header-bg.png') 2x, url('../images/content/header-bg.png') 3x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    border: 50px solid $alto;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    opacity: 0;
  } 
  &::before {
    top: -215px;
    left: -220px;
  }
  &::after {
    bottom: -300px;
    right: -220px;
  }
  &__top {
    min-height: 96px;
    opacity: 0;
    // transform: translate3d(0, -100%, 0);
    // animation: $fast fadeInDown 2.5s forwards;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 350px;
    width: 100%;
  }
  &__phone {
    font-weight: 700;
    color: $main-color;
  }

  &__hero {
    padding-top: 50px;
  }
  &__lobe {
    position: absolute;
    // animation: 2s slideIn 3s forwards;
    &--up {
      top: 92px;
      left: 5%;
      transform: translate3d(0, -200%, 0);
    }
    &--center {
      bottom: 172px;
      left: 100px;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      width: 100px;
      transform: translate3d(0, -1200%, 0);
    }
    &--right {
      top: 340px;
      right: -50px;
      transform: translate3d(0, -800%, 0);
    }
  }
}
// .header__menu-btn{
//   cursor: pointer;
//   display: none;
//   width: 30px;
// }
// .header__menu-row{
//   width: 100%;
//   height: 4px;
//   background-color: $main-color; 
//   margin-bottom: 4px;
//   transition: all .5s;
// }

  
// .header-item__btn-mobile{
//   display: none;
// }
// .header__slider-animation{
//   .header__item{
//     &.slick-active{
//       .header-item__btn-mobile{
//         animation: 1s slideInUp forwards;
//         animation-delay: 1.5s;
//       }
//     }
//   }
// }

//audit start
.audit {
  position: fixed;
  bottom: 50%;
  left: 0;
  right: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  z-index: 55;
  background-color: $orange;
  padding: 35px 30px 35px 50px;
  border-radius: 15px;
  &__inner {
    display: flex;
    align-items: center;
  }
  input {
    outline: none;
  }
  .phone {
    margin-left: 31px;
    max-width: 325px;
    width: 100%;
  }
  .btn {
    margin-left: 100px;
    outline: none;
  }
  .close {
    margin-left: 62px;
  }
}
//audit end

//validate start
.validate {
  max-width: 360px;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 28px 0 95px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: #fff;
  z-index: 58;
  user-select: none;
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto; 
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 29px;
    background-repeat: no-repeat;
    height: 41px;
    width: 41px;
  }
  &--succses {
    background-color: #209b2c;
    &::before {
      background-image: url(../images/icon/validate--succses.svg);
    }
  }
  &--error {
    background-color: #e93b50;
    &::before {
      background-image: url(../images/icon/validate--error.svg);
    }
  }
}
#validate {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 57;
    background-color: rgba(#000, .5);
    display: none;
}
//validate end

//fullForm start
.full-form,
.set-form {
  background-color: #fff;
  border-radius: 20px;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 50px 50px 50px 70px;
  &__headline {
    margin-bottom: 45px;
  }
  .close {
    position: absolute;
    top: 8px;
    right: 4%;
    border-color: #acacac;
    span {
      background-color: #acacac;
    }
  }
  &__inner {
    display: flex;
  }
  &__input {
    max-width: 325px;
    width: 100%;
    margin-right: 80px;
    input {
     outline: none;
    }
  }
  .phone {
    margin: 21px 0;
  }
  select {
    height: 0;
  }
  .jq-selectbox {
    margin: 21px 0 39px;
    width: 100%;
    cursor: pointer;
    &.opened {
      .jq-selectbox__trigger-arrow {
        border-top: 11px solid $orange;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
      }
      li:first-child {
        display: none;
      }
    }
    &.changed {
      .jq-selectbox__select {
        color: $main-color;
      }
    }
    .jq-selectbox__select {
      height: 62px;
      padding: 21px 22px;
      border: 1px solid #ca7510;
      border-radius: 10px;
      color: $placeholder;
    }
    .jq-selectbox__trigger {
      position: absolute;
      top: 0;
      right: 0;
      width: 53px;
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 35px;
        width: 1px;
        background-color: $placeholder;
      }
    }
    .jq-selectbox__trigger-arrow {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-top: 11px solid $placeholder;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent;
    }
    .jq-selectbox__dropdown {
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      height: auto;
      top: 63px !important;
      ul {
        display: block;
        border: 1px solid #ccc;
        background-color: #fff;
      }
      li {
        display: block;
        padding: 10px;
      }
      li:hover {
        background-color: $orange;
      }
      li.selected {
        background-color: #dd7700;
        color: #fff;
      }
    }
  }
  .jq-checkbox {
    vertical-align: -4px;
    width: 18px;
    height: 18px;
    margin-right: 25px;
    border: 1px solid #f15525;
    cursor: pointer;
  }
  .jq-checkbox.checked .jq-checkbox__div {
    width: 8px;
    height: 4px;
    margin: 5px 0 0 4px;
    border-bottom: 2px solid #666;
    border-left: 2px solid #666;
    transform: rotate(-50deg);
  }
  .btn {
    outline: none;
  }
  &__check {
    .form-title {
      font-weight: 700;
      font-size: 16px;
    }
  }
  &__items {
    margin-top: 30px;
    column-count: 2;
  }
  &__item {
    margin-bottom: 50px;
    &:last-child {
      margin-left: 60px;
      label:last-child {
        margin-top: 45px;
      }
    }
    label {
      display: block;
      margin-top: 15px;
    }
  }
}
//fullForm end
.set-form {
  label {
    display: block;
    & + label {
      margin-top: 20px;
    }
  }
}
//new start
.wrapper .new-content {
  padding: 60px 0px;
  &__title {
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
    width: 100%;
  }
  &__inner {
    margin-top: 50px;
    display: flex;
  }
  &__text {
    max-width: 760px;
    width: 100%;
    margin-right: 30px;
    color: #707070;
    p {
      font-size: 18px;
      margin-bottom: 23px;
    }
  }
  &__list {
    strong {
      text-transform: uppercase;
      font-weight: 900;
      display: block;
      margin-bottom: 25px;
    }
    ul {
      margin-bottom: 30px;
    }
    li {
      display: block;
      padding-left: 15px;
      position: relative;
      &::before {
        content: "-";
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    b {
      font-weight: 900;
    }
  }
  .aside {
    max-width: 360px;
    width: 100%;
    &__item {
      margin-bottom: 25px;
      border-radius: 10px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        width: 100%;
      }
      &--small {
        img {
          height: 220px;
        }
      }
      &--big {
        img {
          height: 425px;
        }
      }
      &--medium {
        img {
          height: 280px;
        }
      }
    }
  }
}
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(#000, .5);
  display: none;
}

