.hero {
  position: relative;
  z-index: 10;
  &__container {
    position: relative;
  }
  &__slider {
  }
  .hero__item {
    display: flex;
    outline: none;
  }
  &__navigation {
    position: absolute;
    width: 100%;
    left: 20px;
    bottom: 90px;
    .slick-list {
      overflow: visible;
    }
  }
}


.hero-item {
  overflow: hidden;
  &__title,
  &__subtitle,
  &__animate {
    opacity: 0;
  }
  &__content {
    max-width: 500px;
    width: 100%;
    padding-top: 75px;
  }

  &__title {
    margin-bottom: 20px;
  }
  &__subtitle {
    transition: opacity $fast 1s ease-in;
  }
  &__animate {
    margin-top: 30px;
  }
  &__result {
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__btn {
    font-size: 18px;
    font-weight: 600;
    outline: none;
  }
  &__images {
    position: relative;
    width: 100%;
    min-height: 760px;
  }
}

.hero-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  
  opacity: 0;
  &--spray {
    top: 0;
    width: 600px;
    height: 650px;
    z-index: -1;
  }
  &--girl {
    width: 550px;
  }
  &--starship {
    width: 450px;
  }
  &--tablet {
    top: 15%;
    left: 0;
    width: 405px;
  }
  &--mobile-diagonal {
    z-index: 2;
    bottom: 25%;
    left: 10%;
    width: 405px;
  }
  &--mobile-horizontal {
    z-index: 2;
    top: 15%;
    left: 30%;
    width: 405px;
  }
}
