.hero {
  z-index: 1;
  &__slider {
  }
  .hero__item {
    display: flex;
    outline: none;
  }
  &__navigation {
    position: absolute;
    width: 100%;
    bottom: 90px;
    z-index: 1;
    .slick-list {
      overflow: visible;
    }
  }
}

.hero-item {
  overflow: hidden;
  &.slick-active {
    .hero-item {
      &__title {
        animation: 1.5s fadeInLeft 1s forwards;
      }
      &__animate {
        animation: 1s slideInUp 3.5s forwards;
      }
      // &__btn {
        // animation: 1s slideInUp 1.5s forwards;
      // }
      }
      .hero-image {
        &--spray {
          animation: 1s scale 1s forwards;
        }
        &--girl {
          animation: 1s rotateInUpLeft .5s forwards;
        }
        &--starship {
          animation: 1s starship .5s forwards;
        }
        &--tablet {
          animation: 1s slideInUp .5s forwards;
        }
        &--mobile-diagonal {
          animation: 1s slidePlusLeft .5s forwards;
        }
        &--mobile-horizontal {
          animation: 1s slideInDown .5s forwards;
        }
    }
   
  }
 
  &__content {
    max-width: 500px;
    width: 100%;
    padding-top: 75px;
  }
  &__title {
    opacity: 0;
    margin-bottom: 20px;
   
  }
  &__animate {
    margin-top: 30px;
    opacity: 0;
  }
  &__result {
    font-size: 18px;
    margin-bottom: 40px;
  }
  &__btn {
    font-size: 18px;
    font-weight: 600;
    outline: none;
  }
  &__images {
    position: relative;
    width: 100%;
    min-height: 760px;
  }
}

.hero-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  &--spray {
    top: 0;
    width: 600px;
    height: 650px;
    z-index: -1;
  }
  &--girl {
    width: 550px;
  }
  &--starship {
    width: 450px;
  }
  &--tablet {
    top: 15%;
    left: 0;
    width: 405px;
  }
  &--mobile-diagonal {
    z-index: 2;
    bottom: 25%;
    left: 10%;
    width: 405px;
  }
  &--mobile-horizontal {
    z-index: 2;
    top: 15%;
    left: 30%;
    width: 405px;
  }
}
