.btn {
	padding: 17px 45px;
	border-radius: 40px;
	border: 3px solid transparent;
	color: $white;
	font-weight: 700;
	transition: all $fast ease-out;
	&--orange {
		background-color: $orange;
		&:active {
			border-color: $orange;
			background-color: $mango-tango;
		}
	}
	&--white {
		background-color: $white;
		color: $orange;
		&:active {
			border-color: currentColor;
			background-color: currentColor;
		}
	}
	&--trans-white {
		border-color: $white;
		&:active {
			border-color: currentColor;
			background-color: currentColor;
		}
	}
	&--trans-orange {
		border-color: $orange;
		color: $orange;
		&:active {
			border-color: currentColor;
			background-color: currentColor;
			color: $white;
		}
	}
}

.main-slider-btn {
	border: 1px solid $flamingo;
	position: absolute;
	border-radius: 10px;
	outline: none;
	z-index: 100;
	transition: all $fast ease-out;
	&::before {
		font-family: "icomoon";
		color: $flamingo;
		position: absolute;
		top: 50%;
		transform: translate(-45%, -53%);
		font-size: 40px;
		transition: all $fast ease-out;
	}
	&:hover {
		background-color: $flamingo;
	}
	&:hover::before {
		color: $white;
	}
	&--big {
		height: 54px;
		width: 54px;
	}
	&--small {
		height: 44px;
		width: 44px;
	}
	&--prev::before {
		content: "\f104";
		left: 45%;
	}
	&--next::before {
		content: "\f105";
		left: 50%;
	}
}

.settings-btn {
	position: relative;
	width: 58px;
	height: 58px;
	background-color: $white;
	border-radius: 50%;
	transition: all $fast ease-in;
	outline: none;
	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 30px;
		fill: $gray;
		transition: all $fast ease-in;
	}
	&:hover {
		background-color: darken($white, 10%);
		.settings-btn__icon {
			transform: translate(-50%, -50%) rotate(90deg);
		}
	}
}


.subscribe-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $orange;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: background-color $fast ease-in;
	&:hover {
		background-color: darken($orange, 10%);
	}
	&__icon {
		width: 45px;
		height: 45px;
		fill: $white;
	}
}

.footer-subscribe-btn {
	outline: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100px;
	transform: translate(-80%, 0);
	background-color: $orange;
	color: $white;
	border-radius: 50px 0 0 50px;
	transition: all $fast ease-in;
	z-index: -1;
	&__text {
		position: absolute;
		top: 80%;
		left: 15%;
		display: block;
		font-size: 20px;
		font-weight: 700;
		height: 0;
		width: 0;
		transform: rotate(-90deg);
	}
}