

.header-animation {

  &::before {
    animation: 2s fadeInDown .5s forwards; 
  }
  &::after {
    animation: 2s fadeInUp .5s forwards;
  } 
 
  .header {
    &__top {
      animation: $fast fadeInDown forwards;
    }
    &__lobe {
      animation: 2s slideIn 1s forwards;
    }
  }
  .hero-navigation__item {
    animation: 2s slideInLeft forwards;
    &:nth-child(1) {
      animation-delay: 2s;
    }
    &:nth-child(2) {
      animation-delay: 2.5s;
    }
    &:nth-child(3) {
      animation-delay: 3s;
    }
  }

}

.hero-animation {
  .hero-item {
    &__title {
      animation: 1.5s fadeInLeft 1s forwards;
    }
    &__subtitle {
      opacity: 1;
    }
    &__animate {
      animation: 1s slideInUp 2s forwards;
    }
  }

  .hero-image {
    &--spray {
      animation: 1s scale 1s forwards;
    }
    &--girl {
      animation: 1s rotateInUpLeft 1.5s forwards;
    }
    &--starship {
      animation: 1s starship 0.5s forwards;
    }
    &--tablet {
      animation: 1s slideInUp 0.5s forwards;
    }
    &--mobile-diagonal {
      animation: 1s slidePlusLeft 0.5s forwards;
    }
    &--mobile-horizontal {
      animation: 1s slideInDown 0.5s forwards;
    }
  }
}

