.socials {
  display: flex;
  &__item + .socials__item {
    margin-left: 15px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: $white;
    width: 32px;
    height: 32px;
    background-color: $main-color;
    border-radius: 10px;
    transition: color $fast ease-out;
    &:hover {
      color: $orange;
    }
  }
}
