.socials {
  display: flex;
  &__item + .socials__item {
    margin-left: 15px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    transition: color $fast ease-out;
    &:hover {
      color: $orange;
    }
    &--dark {
      color: $white;
      background-color: $main-color;
    
    }
    &--light {
      color: $main-color;
      background-color: $white;
    }
   
  }
}


.team-socials {
  display: flex;
  &__item + .team-socials__item {
    margin-left: 10px;
  }
  &__link {
    font-size: 18px;
    transition: all $fast ease-out;
    outline: none;
    color: $gray;
    &:hover {
      color: $dove-gray;
    }
  }
}