.subscribe-form {
  display: flex;
  &__input {
    border: 1px solid $tenne;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    width: 100%;
    height: 50px;
  }
  &__btn {
    min-width: 61px;
    margin-left: 5px;
    outline: none;
  }
}
