@include icomoon('../fonts','rrcnnj');

.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-vk:before {
  content: "\f189";
}