// нужно ли использовать???
@media (hover), (min-width:0\0), (min--moz-device-pixel-ratio:0) {
  //   .navigation a {
  //       &:hover {
  //         text-shadow: 0 0 0.9px $text;
  //         transform: scale(1.1);
  //         border-bottom: 3px solid $orange;
  //       }
  //     }  
  //   .header__socials  a {
  //     &:hover {
  //       color: $orange;
  //     }
  //   }
  //   .about__btn {
  //     &:hover {
  //       background-color: #dfdfdf;
  //       border: 5px solid #dfdfdf;
  //       text-decoration: underline;
  //       color: $orange;
  //     }
  //   }
  //   .services-slider {
  //     .slick-btn {
  //       &:hover {
  //         background-color: #f26522;
  //       }
  //       &:hover::before {
  //         color: #fff;
  //       }
  //     }
  //   }
  //   .team__slider {
  //     &-contacts a {
  //       &:hover {
  //         color: #707070;
  //       }
  //     }
  //   } 
  //   .slider-content__item {
  //     a {
  //       &:hover {
  //         border-bottom: 1px solid lighten(#232334, 40%) ;
  //       }
  //     }
  //     .slick-btn {
  //       &:hover {
  //         background-color: #f26522;
  //       }
  //       &:hover::before {
  //         color: #fff;
  //       }
  //     } 
  //   }
  //   .reviews__form-settings {
  //     &:hover {
  // 			background-color: darken(#fff, 10%);
  // 			img {
  // 				transform: rotate(90deg);
  // 			}
  // 		}
  //   }
  //   .footer__contacts a { 
  //     &:hover {
  //       span {
  //         border-bottom: 1px solid #fff;
  //       }
  //     }
  //   }
  //   .footer-slider__content-link {
  //     &:hover {
  //       border-bottom: 1px solid $orange;
  //     }
  //   } 
  //   .footer__subscribe {
  //     &-btn {
  //       &:hover {
  //         background-color: darken($orange, 10%);
  //       }
  //     }
  //     &-socials a {
  //       &:hover {
  //         background-color: $orange;
  //         color: #fff;
  //       }
  //     } 
  //   }
  //   .footer__privacy {
  //     &:hover {
  //       text-decoration: underline;
  //     }
  //   }
  //   .full-form {
  //     .jq-selectbox__dropdown {
  //       li:hover {
  //         background-color: $orange;
  //       }
  //     }
  //   }
    .btn {
      &:hover {
        span::before {
          width: 100%;
          height: 2px;
        }
      }
      &--orange {
        &:hover {
          background-color: $mango-tango;
          span::before {
            background-color: $white; 
          }
        }
      }
      &--white {
        &:hover {
          background-color: $white;
          color: $orange;
          span::before {
            background-color: $orange; 
          }
        }
      }
      &--trans-white {
        &:hover {
          border-color: $white;
          background-color: $white;
          color: $orange;
          span::before {
            background-color: $orange; 
          }
        }
      }
      &--trans-orange {
        &:hover {
          border-color: $mango-tango;
          background-color: $mango-tango;
          color: $white;
          span::before {
            background-color: $white; 
          }
        }
      } 
    }   
  } 
  //поддрежка touch 
  // @media(pointer: coarse) { 
    // .team__slider {
    //   &-item {
    //     &:active {
    //       border-color: $orange;
    //       .team__slider-contacts {
    //         height: 20px;
    //         overflow: visible;
    //       }
    //       .team__slider-img {
    //         height: 252px;
    //       }
    //       .team__slider-name:after {
    //         opacity: 1;
    //       }
    //     }
    //   }
    // }
  // } 
  @media (max-width: 1600px) {
    .reviews,
    .team,
    .services,
    .about {
      background-image: none;
    }
    .footer::before {
      display: none;
    }
  } 
  @media(max-width: 1199px) {
      .question__girl{
          right: 1%;
          width: 350px;
      }
  }
  @media(max-width: 1149px) {
      .footer-slider__item .footer-slider__content-right {
          max-width: 100%;
      }
      .footer__main-info {
          display: none;
      }
      .footer-slider {
          max-width: 600px;
      }
      .footer-slider__item .footer-slider__content {
          max-width: 500px;
      }
      .footer__subscribe {
          max-width: 320px;
          margin-top: 10px;
      }
      .reviews__box {
          max-width: 525px;
      }
      .reviews__form {
        padding: 40px 20px;
        &-title {
          margin-bottom: 20px;
        }
        &-phone {
          margin: 15px 0 20px;
          span {
            top: 15px;
          }
        }
        .irs--flat.irs-with-grid {
          height: 50px;
        }
        .reviews__form-range .irs--flat .irs-grid-pol {
          top: -10px;
        }
        .jq-checkbox {
          vertical-align: 0px;
        }
      }  
      .slider-content  .slider-content__item {
        &-text {
          display: flex;
          flex-direction: column-reverse;
          padding-bottom: 0;
        }  
        &-name {
          font-size: 14px;
          font-weight: 700;
          margin-bottom: 30px;
        }
        a {
          display: none;
        }
      }
      .slider-content .slick-btn {
        display: none !important;
      }
      .services-slider  .services-slider__item-content {
        max-width: 500px;
      }
      .slider-works {
        max-width: 550px;
      }
      
      #full-form {
        overflow: auto;
      }
      .full-form {
        position: absolute;
        top: 0;
        border-radius: 0;
        &__input {
          margin-right: 30px;
        }
        &__item:last-child {
          margin-left: 15px;
        }
        .jq-checkbox {
          margin-right: 10px;
        }
      }  
  }
  @media(max-width: 1140px){
      .header__slider .header__item-content{
          position: absolute;
          z-index: 3;
          padding-top: 30px;
      }
      .header__pine-images {
        display: none;
      }
      // .full-form__item:last-child {
      //   margin-left: 10px;
      // }
      // .full-form .jq-checkbox {
      //   margin-right: 10px;
      // }
      // .full-form__input {
      //   margin-right: 40px;
      // }
  }
  @media(max-width: 1023px){
      .about__item-title{
          font-size: 16px;
      }
      .about__item-text{
          font-size: 14px;
      }
      .question__girl{
          display: none;
      }
      .question__content {
          margin: 0 auto;
      }
      ul.question__list li{
          height: auto;
          &::before{
              content: none;
          }
      }
      .services__title {
        text-align: center;
      }
      .services__subtitle {
        text-align: center;
        position: relative;
        padding-bottom: 24px;
        &::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 200px;
          height: 2px;
          background-color: $orange;
        }
      }
      .services-slider  .services-slider__item-inner {
        display: block;
      }
      .services-slider .slick-btn {
        bottom: 0;
        top: 194px;
      }
      .services-slider .services-slider__item-content {
        max-width: 700px;
        margin: 0 auto;
      }
      .slider-works {
        max-width: 100%;
      }
      .services-slider .slick-prev {
        left: 565px;
      }
      .services-slider .slick-next {
        left: 615px;
      }
     
  }
  @media(max-width: 1000px) {
    .full-form {
      &__inner {
        flex-direction: column;
      }
      &__input {
        order: 1;
        margin: 30px 0 0;
        max-width: 100%;
        text-align: center;
      }
      .jq-selectbox {
        text-align: left;
      }
      .input {
        max-width: 100%;
      }
    }
  }
  @media(max-width: 980px){
      .header__top{
          position: relative;
          z-index: 50;
      }
      .header__menu-btn{
        display: block;
        &--active {
          .header__menu-row:nth-child(1) {
            transform: translateY(200%) rotate(45deg);
          }
          .header__menu-row:nth-child(2) {
            transform: scale(0);
          }
          .header__menu-row:nth-child(3) {
            transform: translateY(-200%) rotate(-45deg);
          }
        }
      }
      .header__navigation .header__menu {
          position: absolute;
          top: 95px;
          left: -300px;
          bottom: 0;
          height: 140vh;
          width: 220px;
          z-index: 100;
          background-color: rgba(#b9b9b9, .8);
          transition: all .5s ease-out;
          li {
            display: block;
            margin-top: 15px;
            padding-left: 20px;
          }
          li + li {
            margin-left: 0; 
          }
          a {
            display: block;
            padding: 5px;
            font-weight: 700;
            border-width: 0px;
            &:hover {
              border-width: 0px;
            }
          }
          &--active {
            left: -15px;
          }
      }
      .header__contacts {
          max-width: 290px;
      }
      .header .header__number {
          font-size: 12px;
          padding: 17px 45px;
      }
      .about__item {
          max-width: 375px;
      }
      .about__item-img{
          margin-right: 10px;
      }
      .about__item-content{
          max-width: 225px;
      }
      .reviews__box {
        max-width: 440px;
      }
      .reviews__form {
        input {
          height: 42px;
        }
        &-buttons {
          justify-content: center;
        }
        &-settings {
          display: none;
        }
        .reviews__form-range .irs--flat .irs-single {
          top: -18px;
        }
        .reviews__form .jq-checkbox {
          vertical-align: 7px;
        }
        .reviews__form-range .irs--flat {
          margin-top: 0px;
        }
         label {
          font-size: 10px;
          span {
            width: 169px;
          }
        }
      }
      .reviews__form-range {
        margin-top: 45px;
        .irs--flat .irs-single {
          top: -20px;
        }
      }
      .footer-slider{
          max-width: 500px;
      }
      .audit .btn {
        margin-left: 50px;
      }
  
  
  }
  @media(max-width: 875px) {
      .footer__navigation{
          display: none;
      }
      .footer-slider{
          max-width: 400px;
      }
      .footer-slider__item{
          padding-left: 10px;
      }
      .input {
        height: 50px;
      }
      .phone span {
        top: 18px;
      }
      .audit .btn {
        font-size: 14px;
      }
  }
  @media(max-width: 800px){
      .reviews__wrapper,
      .services__wrapper,
      .header-sliders__wrapper{
              padding: 0;
      }
      .header {
        &::after,
        &::before {
          display: none;
        }
  
      }
      .header__logo img {
        width: 65px
      }
      .header-slider__navigation{
        display: none;
      }
      .header__contacts{
          max-width: 80px;
      }
      .header__socials a {
          font-size: 14px;
          width: 26px;
          height: 26px;
      }
      .header .header__number{
          display: none;
      }
      .header__slider{
          margin-top: 0;
      }
      .header__slider .header__item-content{
          padding-top: 0;
          max-width: 100%;
          width: 100%;
      }
      .header__slider .header__item-title{
          text-align: center;
          font-size: 34px;
      }
      .header__slider .header__item-subtitle{
          display: none;
      }
      .header__slider .header__item-animate {
          position: absolute;
          top: 680px;
          left: 0;
          right: 0;
          text-align: center;
        .header__item-result {
          display: none;
        }
        .header__item-btn {
          font-size: 12px;
          padding-top: 13px;
          padding-bottom: 13px;
        }
      }    
      .header__slider .header__item-images{
          top: 135px;
      }
      .reviews {
          background: none;
      }
      .services {
        padding: 50px 0 30px;
        background-image: none;
      }
      .title {
        font-size: 30px;
        text-align: center;
      }
      .about{
          background: none;
          padding: 50px 0px;
          min-height: auto;
      }
      .about__title {
          margin-bottom: 20px;
      }
      .about__text {
          display: none;
      }
      .about__content-mobile {
          display: block;
      }
      .about__inner.slick-initialized .slick-slide {
          margin: 0 15px 40px 15px;
      }
      .about__item {
          display: flex !important;
          flex-direction: column;
          max-width: 237px;
          border: 5px solid #ebebeb;
          border-radius: 28px;
          overflow: hidden;
          min-height: 160px;
      }
      .about__item-img {
          margin-right: 0px;
          width: 100%;
          height: 110px;
          border: none;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
      }
      .about__item-content {
          max-width: 100%;
          background-color: #f8f8f8;
          padding: 20px 0 30px;
          justify-content: flex-start;
          min-height: 250px;
      }
      .about__item-title {
          font-size: 20px;
          margin: 0 auto 15px auto;
      }
      .about__item-text {
          font-size: 16px;
          text-align: center;
      }
      #about__btn {
          margin: 0 auto;
          padding: 10px 10px 15px 28px;
          max-width: 300px;
          min-height: 120px;
      }
      .team {
          padding-top: 60px;
          padding-bottom: 80px;
          background-image: none;
      }
      .team__subtitle {
          margin-bottom: 50px;
      }
      .subtitle-slogan {
          font-size: 14px;
          text-align: center;
      }
      .team__slider-item {
          margin-bottom: 0;
      }
      .team__btn {
          display: none;
      }
      .question {
          min-height: auto;
          padding: 65px 0px;
      }
      ul.question__list li {
          font-size: 14px;
          .question__list-text{
              font-size: 12px;
              margin-top: 20px;
          }
      }
      .reviews {
        padding: 55px 0 0;
        &__inner {
          flex-wrap: wrap;
        }
      }  
      .reviews__box {
        max-width: 100%;
        .reviews__title {
          margin-bottom: 40px;
        }
        .reviews__subtitle {
          font-size: 14px;
          margin-top: 5px;
        }
      }
      .reviews__form {
        border-radius: 0;
        margin: 50px auto 0;
        max-width: 100%;
        &-buttons {
          font-size: 12px;
        }
        &-text {
          font-size: 12px;
        }
        .reviews__form-range {
          margin-top: 0px;
        }
        .reviews__form-range .irs--flat .irs-single {
          font-size: 12px;
        }
      }
      .slider-content { 
        .slider-content__item {
          p {
            margin-bottom: 0;
            padding: 0 15px;
          }
        }
      }  
      .slider-works__item-images {
        border-radius: 0;
        min-height: 400px;
      }
      .slider-works__item-title {
        display: none;
      }
      .services-slider  {
        &__item-action {
          text-align: center;
          margin-top: 40px;
        }
        .services-slider__item-subtext {
          font-size: 16px;
        }
        .services-slider__item-content {
          padding-bottom: 0;
        }
      }
      .audit {
        border-radius: 0;
        bottom: 20%;
        &__inner {
          flex-direction:  column;
          margin-top: 25px;
        }
        .phone {
          margin: 20px 0;
        }
        .btn {
          margin-left: 0px;
        }
        .close {
          position: absolute;
          top: 10px;
          right: 5%;
          margin-left: 0;
  
        }
      }
      .modal__headline .modal__title {
        font-size: 20px;
      }
    .full-form,
    .set-form {
      padding: 50px 10px 50px 25px;
      &__headline {
        margin-bottom: 20px;
      }
      &__input {
        margin: 10px 0 0;
      }
      &__items {
        margin-top: 20px;
        column-count: 1;
      }
      &__check {
        font-size: 14px;
      }
      &__item {
        margin-bottom: 25px;
        &:last-child {
          margin-left: 0;
        }
        .form-title {
          font-size: 14px;
        }
      }
      .jq-selectbox {
        margin: 21px 0;
      }
      .jq-selectbox .jq-selectbox__select {
        height: 50px;
        padding: 15px 22px;
      }
      .jq-selectbox .jq-selectbox__dropdown {
        top: 50px !important;
      }
      .btn {
        font-size: 14px;
      }
    }
    .set-form {
      border-radius: 0;
      &__inner {
        flex-direction: column;
      }
      &__input {
        margin-top: 20px;
        order: 1;
        max-width: 100%;
        text-align: center;
        .input {
          max-width: 100%;
        }
      }
      .jq-checkbox {
        margin-right: 10px;
      }
   
    }   
  }
  @media (max-width: 780px) {
    .services-slider .slick-prev {
      left: 420px;
    }
    .services-slider .slick-next {
      left: 470px;
    }
  }
  @media(max-width: 770px){
      .footer__top-inner{
          flex-direction: column-reverse;
      }
      .footer__item--xl{
          margin: 0 auto;
      }
      .footer__subscribe{
          max-width: 600px;
          text-align: center;
          margin: 0 auto 25px auto;
      }
      .footer__subscribe .footer__subscribe-title{
          margin: 0 auto 30px auto;
      }
      .footer__subscribe-subtitle{
          margin: 0 auto 25px auto;
      }
      .footer__subscribe-form {
          max-width: 400px;
          margin: 0 auto;
      }
  } 
  
  @media (max-width: 650px) {
    .header__slider .header__item-animate { 
      top: 280px;
    }
    .header__slider .header__item-images{
      min-height: 385px;
      width: 100%;
      }
      img.header__image-starship{
          width: 230px;  
      }
      img.header__image-girl{
          width: 270px;
      }
      .header__item-images img.header__image-girl,
      .header__item-images img.header__image-starship{
      bottom: 50px;
      }
      .header__slider .header__item img.header__image-devices1{
          top: 53%;
          left: 50%;
          width: 200px;
      }
      .header__slider .header__item img.header__image-devices2{
          top: -18%;
          width: 360px;
      }
      .header__slider .header__item img.header__image-devices3{
          top: -25%;
          left: 34%;
          width: 200px;
      }
    .header__slider .header__item img.header__image-spray {
      top: 0;
      width: 200px;
      height: auto;
  }
    .services-slider .slick-prev {
      left: 345px;
    }
    .services-slider .slick-next {
      left: 395px;
    }
    
  }
  @media(max-width: 520px){
      ul.question__list li {
          padding: 20px;
      }
      .footer-slider {
          max-width: 270px;
      }
      .services__subtitle {
        color: #131313;
        margin-bottom: 0px;
        &::before {
          width: 76px;
        }
      }
      .services-slider .slick-btn {
        top: 35px;
      }
      .services-slider .services-slider__item .services-slider__item-title {
        font-size: 18px;
      }
      .services-slider .services-slider__item .services-slider__item-text {
        padding-bottom: 0;
        color: #222;
        margin-bottom: 20px;
        &::before {
          display: none;
        }
      }
      .slider-works__item-images {
        min-height: 240px;
      }
      .slider-works .slick-dots {
        bottom: 17px;
        left: 18px;
        button {
          width: 25px;
        }
      }
      
    }
  @media (max-width: 480px) {
      img.header__image-girl{
          width: 195px;
      }
      img.header__image-starship{
          width: 165px;
      }
      .header__item-images img.header__image-girl,
      .header__item-images img.header__image-starship{
      bottom: 120px;
      }
    .header__slider .header__item img.header__image-spray {
      width: 150px;
    }
    .reviews__title {
      margin-bottom: 40px;
    }
    .reviews__subtitle {
      font-size: 14px;
      margin-top: 5px;
    }
    .slider-images {
      margin-bottom: 15px;
      .slick-track{
        transition: transform 1s;
      }
    } 
    .slider-images.slick-initialized .slick-slide {
      margin: 0 5px;
    } 
    
    .services-slider .slick-prev {
      left: 260px;
    }
    .services-slider .slick-next {
      left: 310px;
    } 
    .services-slider .services-slider__item-content {
      padding: 45px 15px 35px;
    } 
  }
  @media (max-width: 425px) {
    .validate {
      max-width: 305px;
      font-size: 13px;  
      height: 56px;
      &::before {
        top: 11px;
        background-size: contain;
        width: 30px;
        height: 30px;
      }
    }
    .header__slider .header__item img.header__image-devices1{
        top: 35%;
        left: -36%;
    }
    .header__slider .header__item img.header__image-devices2{
        top: -14%;
        width: 290px;
    }
    .header__slider .header__item img.header__image-devices3{
        top: -20%;
        left: 45%;
        width: 140px;
    }
    .services-slider .slick-next {
      left: 270px;
    }
    .services-slider .slick-prev {
      left: 220px;
    }
    .header__navigation .header__menu { 
      width: 150px;
    }
    .full-form .jq-selectbox .jq-selectbox__select,
    .full-form .jq-selectbox .jq-selectbox__dropdown {
      font-size: 14px;
    }
  }
  @media (min-width: 980px){
      .header__menu {
          display: flex !important;
      }
  }