// ALL_COLOR 
$main-color: #441110;

$white: #fff;
$black: #000;

$east-bay: #444d83;

$mine-shaft: #222;
$tundora: #4a4a4a;
$gray: #878686; 
$dove-gray: #707070;
$placeholder: #a9a8a8;
$gallery: #ebebeb;
$alabaster: #f9f9f9;
$alto: #d2d2d2;
$silver-chalice: #b1b1b1;
$flamingo: #f26522;
$orange: #f88600;
$mango-tango: #dd7700;



// FONT
$main-font: 'Montserrat', sans-serif;
// + or - size * on number [.5, .75, 1.25, 1.5]
$main-fz: 16px;


// CONTAINER
$main-width: 1200px;
// H1-H6
h1 {
  font-size: 72px;
  line-height: 82px;
  font-weight: 900;
}
h2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}
h3 {
  font-size: 28px;
  line-height: 28px;
}
h4 {
  font-size: 22px;
  line-height: 22px;
}
h5 {
  font-size: 18px;
  line-height: 18px;
}
h6 {
  font-size: 16px;
  line-height: 16px;
}

// SPRITE
$pathS: '../images/icons/sprite.png';

// TRANSITION_TIMES
$fast: .5s;
